<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.odiy.domain.mapper.j99.mapper.TempInfoMapper">
  <resultMap id="BaseResultMap" type="com.odiy.domain.mapper.j99.model.TempInfo">
    <id column="DATE" jdbcType="DATE" property="date" />
    <id column="UUID" jdbcType="VARCHAR" property="uuid" />
    <result column="Valid_Datetime" jdbcType="TIMESTAMP" property="validDatetime" />
    <result column="Value" jdbcType="VARCHAR" property="value" />
    <result column="TYPE" jdbcType="VARCHAR" property="type" />
    <result column="CAN_ERR_TIMES" jdbcType="INTEGER" property="canErrTimes" />
    <result column="NOW_ERR_TIMES" jdbcType="INTEGER" property="nowErrTimes" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    DATE, UUID, Valid_Datetime, Value, TYPE, CAN_ERR_TIMES, NOW_ERR_TIMES
  </sql>
  <select id="selectByExample" parameterType="com.odiy.domain.mapper.j99.model.TempInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from TA9901_TEMP_INFO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from TA9901_TEMP_INFO
    where DATE = #{date,jdbcType=DATE}
      and UUID = #{uuid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from TA9901_TEMP_INFO
    where DATE = #{date,jdbcType=DATE}
      and UUID = #{uuid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.odiy.domain.mapper.j99.model.TempInfoExample">
    delete from TA9901_TEMP_INFO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.odiy.domain.mapper.j99.model.TempInfo">
    insert into TA9901_TEMP_INFO (DATE, UUID, Valid_Datetime, 
      Value, TYPE, CAN_ERR_TIMES, 
      NOW_ERR_TIMES)
    values (#{date,jdbcType=DATE}, #{uuid,jdbcType=VARCHAR}, #{validDatetime,jdbcType=TIMESTAMP}, 
      #{value,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{canErrTimes,jdbcType=INTEGER}, 
      #{nowErrTimes,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.odiy.domain.mapper.j99.model.TempInfo">
    insert into TA9901_TEMP_INFO
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="date != null">
        DATE,
      </if>
      <if test="uuid != null">
        UUID,
      </if>
      <if test="validDatetime != null">
        Valid_Datetime,
      </if>
      <if test="value != null">
        Value,
      </if>
      <if test="type != null">
        TYPE,
      </if>
      <if test="canErrTimes != null">
        CAN_ERR_TIMES,
      </if>
      <if test="nowErrTimes != null">
        NOW_ERR_TIMES,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="date != null">
        #{date,jdbcType=DATE},
      </if>
      <if test="uuid != null">
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="validDatetime != null">
        #{validDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="value != null">
        #{value,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="canErrTimes != null">
        #{canErrTimes,jdbcType=INTEGER},
      </if>
      <if test="nowErrTimes != null">
        #{nowErrTimes,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.odiy.domain.mapper.j99.model.TempInfoExample" resultType="java.lang.Long">
    select count(*) from TA9901_TEMP_INFO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update TA9901_TEMP_INFO
    <set>
      <if test="record.date != null">
        DATE = #{record.date,jdbcType=DATE},
      </if>
      <if test="record.uuid != null">
        UUID = #{record.uuid,jdbcType=VARCHAR},
      </if>
      <if test="record.validDatetime != null">
        Valid_Datetime = #{record.validDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.value != null">
        Value = #{record.value,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null">
        TYPE = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.canErrTimes != null">
        CAN_ERR_TIMES = #{record.canErrTimes,jdbcType=INTEGER},
      </if>
      <if test="record.nowErrTimes != null">
        NOW_ERR_TIMES = #{record.nowErrTimes,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update TA9901_TEMP_INFO
    set DATE = #{record.date,jdbcType=DATE},
      UUID = #{record.uuid,jdbcType=VARCHAR},
      Valid_Datetime = #{record.validDatetime,jdbcType=TIMESTAMP},
      Value = #{record.value,jdbcType=VARCHAR},
      TYPE = #{record.type,jdbcType=VARCHAR},
      CAN_ERR_TIMES = #{record.canErrTimes,jdbcType=INTEGER},
      NOW_ERR_TIMES = #{record.nowErrTimes,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.odiy.domain.mapper.j99.model.TempInfo">
    update TA9901_TEMP_INFO
    <set>
      <if test="validDatetime != null">
        Valid_Datetime = #{validDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="value != null">
        Value = #{value,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        TYPE = #{type,jdbcType=VARCHAR},
      </if>
      <if test="canErrTimes != null">
        CAN_ERR_TIMES = #{canErrTimes,jdbcType=INTEGER},
      </if>
      <if test="nowErrTimes != null">
        NOW_ERR_TIMES = #{nowErrTimes,jdbcType=INTEGER},
      </if>
    </set>
    where DATE = #{date,jdbcType=DATE}
      and UUID = #{uuid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.odiy.domain.mapper.j99.model.TempInfo">
    update TA9901_TEMP_INFO
    set Valid_Datetime = #{validDatetime,jdbcType=TIMESTAMP},
      Value = #{value,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=VARCHAR},
      CAN_ERR_TIMES = #{canErrTimes,jdbcType=INTEGER},
      NOW_ERR_TIMES = #{nowErrTimes,jdbcType=INTEGER}
    where DATE = #{date,jdbcType=DATE}
      and UUID = #{uuid,jdbcType=VARCHAR}
  </update>
</mapper>