<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.odiy.domain.mapper.j99.mapper.ShopBaseInfoMapper">
  <resultMap id="BaseResultMap" type="com.odiy.domain.mapper.j99.model.ShopBaseInfo">
    <id column="SHOP_ID" jdbcType="INTEGER" property="shopId" />
    <result column="SHOP_NAME" jdbcType="VARCHAR" property="shopName" />
    <result column="SHOP_POSTNO" jdbcType="CHAR" property="shopPostno" />
    <result column="SHOP_ADDR" jdbcType="VARCHAR" property="shopAddr" />
    <result column="SHOP_ORDER_DIV" jdbcType="CHAR" property="shopOrderDiv" />
    <result column="SHOP_TEL" jdbcType="VARCHAR" property="shopTel" />
    <result column="ADD_DATE" jdbcType="TIMESTAMP" property="addDate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    SHOP_ID, SHOP_NAME, SHOP_POSTNO, SHOP_ADDR, SHOP_ORDER_DIV, SHOP_TEL, ADD_DATE
  </sql>
  <select id="selectByExample" parameterType="com.odiy.domain.mapper.j99.model.ShopBaseInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from T0101_SHOP_BASEINFO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T0101_SHOP_BASEINFO
    where SHOP_ID = #{shopId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from T0101_SHOP_BASEINFO
    where SHOP_ID = #{shopId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.odiy.domain.mapper.j99.model.ShopBaseInfoExample">
    delete from T0101_SHOP_BASEINFO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="SHOP_ID" keyProperty="shopId" parameterType="com.odiy.domain.mapper.j99.model.ShopBaseInfo" useGeneratedKeys="true">
    insert into T0101_SHOP_BASEINFO (SHOP_NAME, SHOP_POSTNO, SHOP_ADDR, 
      SHOP_ORDER_DIV, SHOP_TEL, ADD_DATE
      )
    values (#{shopName,jdbcType=VARCHAR}, #{shopPostno,jdbcType=CHAR}, #{shopAddr,jdbcType=VARCHAR}, 
      #{shopOrderDiv,jdbcType=CHAR}, #{shopTel,jdbcType=VARCHAR}, #{addDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" keyColumn="SHOP_ID" keyProperty="shopId" parameterType="com.odiy.domain.mapper.j99.model.ShopBaseInfo" useGeneratedKeys="true">
    insert into T0101_SHOP_BASEINFO
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="shopName != null">
        SHOP_NAME,
      </if>
      <if test="shopPostno != null">
        SHOP_POSTNO,
      </if>
      <if test="shopAddr != null">
        SHOP_ADDR,
      </if>
      <if test="shopOrderDiv != null">
        SHOP_ORDER_DIV,
      </if>
      <if test="shopTel != null">
        SHOP_TEL,
      </if>
      <if test="addDate != null">
        ADD_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="shopName != null">
        #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="shopPostno != null">
        #{shopPostno,jdbcType=CHAR},
      </if>
      <if test="shopAddr != null">
        #{shopAddr,jdbcType=VARCHAR},
      </if>
      <if test="shopOrderDiv != null">
        #{shopOrderDiv,jdbcType=CHAR},
      </if>
      <if test="shopTel != null">
        #{shopTel,jdbcType=VARCHAR},
      </if>
      <if test="addDate != null">
        #{addDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.odiy.domain.mapper.j99.model.ShopBaseInfoExample" resultType="java.lang.Long">
    select count(*) from T0101_SHOP_BASEINFO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update T0101_SHOP_BASEINFO
    <set>
      <if test="record.shopId != null">
        SHOP_ID = #{record.shopId,jdbcType=INTEGER},
      </if>
      <if test="record.shopName != null">
        SHOP_NAME = #{record.shopName,jdbcType=VARCHAR},
      </if>
      <if test="record.shopPostno != null">
        SHOP_POSTNO = #{record.shopPostno,jdbcType=CHAR},
      </if>
      <if test="record.shopAddr != null">
        SHOP_ADDR = #{record.shopAddr,jdbcType=VARCHAR},
      </if>
      <if test="record.shopOrderDiv != null">
        SHOP_ORDER_DIV = #{record.shopOrderDiv,jdbcType=CHAR},
      </if>
      <if test="record.shopTel != null">
        SHOP_TEL = #{record.shopTel,jdbcType=VARCHAR},
      </if>
      <if test="record.addDate != null">
        ADD_DATE = #{record.addDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update T0101_SHOP_BASEINFO
    set SHOP_ID = #{record.shopId,jdbcType=INTEGER},
      SHOP_NAME = #{record.shopName,jdbcType=VARCHAR},
      SHOP_POSTNO = #{record.shopPostno,jdbcType=CHAR},
      SHOP_ADDR = #{record.shopAddr,jdbcType=VARCHAR},
      SHOP_ORDER_DIV = #{record.shopOrderDiv,jdbcType=CHAR},
      SHOP_TEL = #{record.shopTel,jdbcType=VARCHAR},
      ADD_DATE = #{record.addDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.odiy.domain.mapper.j99.model.ShopBaseInfo">
    update T0101_SHOP_BASEINFO
    <set>
      <if test="shopName != null">
        SHOP_NAME = #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="shopPostno != null">
        SHOP_POSTNO = #{shopPostno,jdbcType=CHAR},
      </if>
      <if test="shopAddr != null">
        SHOP_ADDR = #{shopAddr,jdbcType=VARCHAR},
      </if>
      <if test="shopOrderDiv != null">
        SHOP_ORDER_DIV = #{shopOrderDiv,jdbcType=CHAR},
      </if>
      <if test="shopTel != null">
        SHOP_TEL = #{shopTel,jdbcType=VARCHAR},
      </if>
      <if test="addDate != null">
        ADD_DATE = #{addDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where SHOP_ID = #{shopId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.odiy.domain.mapper.j99.model.ShopBaseInfo">
    update T0101_SHOP_BASEINFO
    set SHOP_NAME = #{shopName,jdbcType=VARCHAR},
      SHOP_POSTNO = #{shopPostno,jdbcType=CHAR},
      SHOP_ADDR = #{shopAddr,jdbcType=VARCHAR},
      SHOP_ORDER_DIV = #{shopOrderDiv,jdbcType=CHAR},
      SHOP_TEL = #{shopTel,jdbcType=VARCHAR},
      ADD_DATE = #{addDate,jdbcType=TIMESTAMP}
    where SHOP_ID = #{shopId,jdbcType=INTEGER}
  </update>
</mapper>